@use 'variables' as vars;

@mixin button($bgcolor, $fc) {
    text-align: center;
    padding: 3px 5px;
    margin: 2px;
    color: $fc;
    background-color: $bgcolor;
    transition: background-color 0.3s;
    border: none;
    &:enabled:hover {
        background-color: lighten($bgcolor, 20%);
        cursor: pointer;
    }
    &:disabled {
        opacity: 0.3;
        cursor: not-allowed;
    }
}

.btn-red {
    @include button(vars.$bgred, white);
}

.btn-green {
    @include button(vars.$green, white);
}

.btn-accent {
    @include button(vars.$accent, white);
}

.btn-gray {
    @include button(rgb(117, 117, 117), white);
}

.btn-as-link {
    background-color: transparent;
    color: vars.$fc1;
    border: none;
    text-decoration: underline;
    &:hover {
        cursor: pointer;
    }
}

//TABBUTTON
    .tabButton {
        font-size: 150%;
        width: 50%;
        height: 100px;
        border-radius: 5px 5px 0 0;
        border: none;
        color: vars.$fc2;
        background-color: vars.$bg4;
    }
    .activeTabButton {
        font-weight: bold;
        color: vars.$fc1;
        background-color: vars.$bg5;
    }
