@use 'variables' as vars;

@mixin button($bgcolor, $fc) {
    text-align: center;
    padding: 3px 5px;
    margin: 2px;
    color: $fc;
    background-color: $bgcolor;
    transition: background-color 0.3s;
    border: none;
    &:enabled:hover {
        background-color: lighten($bgcolor, 20%);
        cursor: pointer;
    }
    &:disabled {
        opacity: 0.3;
        cursor: not-allowed;
    }
}

.btn-red {
    @include button(vars.$red, white);
}

.btn-green {
    @include button(green, white);
}

.btn-accent {
    @include button(vars.$accent, white);
}

.btn-gray {
    @include button(rgb(117, 117, 117), white);
}

//TABBUTTON
    .tabButton {
        width: 50%;
    }
    .activeTabButton {
        font-weight: bold;
    }
