@mixin button($bgcolor, $fc) {
    text-align: center;
    padding: 0 3px;
    margin: 2px -1px; //inline blocks (zoals buttons) hebben standaard verticale "margin" tussen elkaar owv regeleinden ed
    color: $fc;
    background-color: $bgcolor;
    transition: background-color 0.3s;
    border: none;
    &:enabled:hover {
        background-color: lighten($bgcolor, 20%);
        cursor: pointer;
    }
    &:disabled {
        opacity: 0.3;
        cursor: not-allowed;
    }
}

.btn-red {
    @include button(red, white);
}

.btn-green {
    @include button(green, white);
}

.btn-blue {
    @include button(blue, white);
}

.btn-gray {
    @include button(gray, black);
}