.comboboxDropdown {
    max-height: 300px;
    overflow-y: scroll;
    opacity: 0.9;
    border: 1px solid black; //TO DO: kleur kiezen
}

//TABBUTTON
    .tabButton {
        width: 50%;
    }
    .activeTabButton {
        font-weight: bold;
    }

//FORM
    input, textarea, datalist {
        margin: 1px -1px 3px -1px;
    }
    select {
        margin: 1px 0px;
    }


//MODAL
    .modal {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .modal-content {
        position: relative;
        background-color: white;
        padding: 10px;
    }
