@use 'variables' as vars;

.comboboxDropdown {
    padding: 2px;
    max-height: 300px;
    overflow-y: scroll;
    opacity: 0.9;
    border: 1px solid vars.$fc1;
    // background-color: vars.$bg3;
}

//FORM
    input, textarea, datalist {
        padding: 2px;
        margin: 1px -1px 3px -1px;
        background-color: vars.$bg4;
        border: 1px solid vars.$fc1;
        color: vars.$fc1;
    }
    ::placeholder {
        color: vars.$fc2;
    }
    select {
        margin: 1px 0px;
    }
    .nullable {
        background-color: vars.$bg3;
    }
    .required {
        background-color: vars.$bg4;
    }


//MODAL
    .modal {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .modal-content {
        position: relative;
        background-color: vars.$bg3;
        padding: 20px;
    }

//TABLE
    .table-header {
        border-bottom: 1px solid vars.$fc1;
        background-color: vars.$bg4;
    }
    .table-row:nth-child(even) {
        background-color: vars.$bg2;
    }
    .table-row:nth-child(odd) {
        background-color: vars.$bg3;
    }
