@use 'variables' as vars;

.comboboxDropdown {
    padding: 2px;
    max-height: 300px;
    overflow-y: scroll;
    opacity: 0.9;
    border: 1px solid vars.$fc1;
    // background-color: vars.$clr3;
}

//FORM
    input, textarea, datalist {
        padding: 2px;
        margin: 1px -1px 3px -1px;
        border: 1px solid vars.$fc1;
        color: vars.$fc1;
    }
    ::placeholder {
        color: vars.$fc1;
        font-style: italic;
    }
    select {
        margin: 1px 0px;
    }
    .nullable {
        background-color: vars.$clr7;
    }
    .required {
        background-color: vars.$clr6;
    }
    .filter-input {
        // background-color: vars.$clr10;
        border: 1px solid vars.$clr6;
        color: vars.$clr6;
        margin: 4px 2px;
        padding: 5px;
    }
    .filter-input::placeholder {
        font-style: normal;
        color: vars.$clr6;
        opacity: 0.5;
    }


//MODAL
    .modal {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .modal-content {
        position: relative;
        color: vars.$fc1;
        background-color: vars.$clr6;
        border: 1px solid vars.$clr1;
        padding: 20px;
    }

//TABLE
    .table-header {
        border-bottom: 1px solid vars.$fc1;
        background-color: vars.$clr11;
        color: vars.$clr6;
    }
    .table-row:nth-child(even) {
        background-color: vars.$clr8;
    }
    .table-row:nth-child(odd) {
        background-color: vars.$clr9;
    }
