@use 'variables' as vars;

@for $i from 1 through 6 {
    h#{$i} {
        font-size: 220-$i*20%;
    }
}
.error {
    color: vars.$fcred;
    font-style: italic;
}
.fc1 {
    color: vars.$fc1;
}
.fc2 {
    color: vars.$fc2;
}
.fc3 {
    color: vars.$bg3;
}
.ff-code {
    font-family: vars.$code-font-stack;
}
.fs-90 {
    font-size: 90%;
}
.fs-150 {
    font-size: 150%;
}
.fs-300 {
    font-size: 300%;
}
.fs-ita {
    font-style: italic;
}
.fw-bold {
    font-weight: bold;
}
.txt-center {
    text-align: center;
}
