@use 'variables' as vars;

@for $i from 1 through 6 {
    h#{$i} {
        font-size: 220-$i*20%;
    }
}
.error {
    color: vars.$fcred;
    font-style: italic;
    max-width: 100%; //helpt niet. max-width: fit-content evenmin.
}
.fc1 {
    color: vars.$fc1;
}
.fc2 {
    color: vars.$fc2;
}
.fc3 {
    color: vars.$clr3;
}
.fc6, .fc-required {
    color: vars.$clr6;
}
.fc7 {
    color: vars.$clr7;
}
.fc8 {
    color: vars.$clr8;
}
.fc9 {
    color: vars.$clr9;
}
.fc10 {
    color: vars.$clr10;
}
.fc11, .fc-nullable {
    color: vars.$clr11;
}
.fc-accent {
    color: vars.$accent;
}

.ff-code {
    font-family: vars.$code-font-stack;
}
.fs-90 {
    font-size: 90%;
}
.fs-150 {
    font-size: 150%;
}
.fs-300 {
    font-size: 300%;
}
.fs-ita {
    font-style: italic;
}
.fw-bold {
    font-weight: bold;
}
.txt-center {
    text-align: center;
}
