$font-stack: Helvetica, sans-serif;
$code-font-stack: Consolas, monaco, monospace;
$bg-dark: rgb(18, 20, 27);
$bg-light: #ffffff;
$fc-dark: rgb(237, 237, 237);
$fc-light: #000000;
$red: rgb(100, 9, 9);
$accent: rgb(5, 5, 128);
