*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

.grid-row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 8px;
  padding: 8px;
}

.xs-col-1 {
  grid-column: span 1;
  padding: 8px;
}

.xs-col-2 {
  grid-column: span 2;
  padding: 8px;
}

.xs-col-3 {
  grid-column: span 3;
  padding: 8px;
}

.xs-col-4 {
  grid-column: span 4;
  padding: 8px;
}

.xs-col-5 {
  grid-column: span 5;
  padding: 8px;
}

.xs-col-6 {
  grid-column: span 6;
  padding: 8px;
}

.xs-col-7 {
  grid-column: span 7;
  padding: 8px;
}

.xs-col-8 {
  grid-column: span 8;
  padding: 8px;
}

.xs-col-9 {
  grid-column: span 9;
  padding: 8px;
}

.xs-col-10 {
  grid-column: span 10;
  padding: 8px;
}

.xs-col-11 {
  grid-column: span 11;
  padding: 8px;
}

.xs-col-12 {
  grid-column: span 12;
  padding: 8px;
}

@media (min-width: 576px) {
  .s-col-1 {
    grid-column: span 1;
    padding: 8px;
  }
  .s-col-2 {
    grid-column: span 2;
    padding: 8px;
  }
  .s-col-3 {
    grid-column: span 3;
    padding: 8px;
  }
  .s-col-4 {
    grid-column: span 4;
    padding: 8px;
  }
  .s-col-5 {
    grid-column: span 5;
    padding: 8px;
  }
  .s-col-6 {
    grid-column: span 6;
    padding: 8px;
  }
  .s-col-7 {
    grid-column: span 7;
    padding: 8px;
  }
  .s-col-8 {
    grid-column: span 8;
    padding: 8px;
  }
  .s-col-9 {
    grid-column: span 9;
    padding: 8px;
  }
  .s-col-10 {
    grid-column: span 10;
    padding: 8px;
  }
  .s-col-11 {
    grid-column: span 11;
    padding: 8px;
  }
  .s-col-12 {
    grid-column: span 12;
    padding: 8px;
  }
}
@media (min-width: 768px) {
  .m-col-1 {
    grid-column: span 1;
    padding: 8px;
  }
  .m-col-2 {
    grid-column: span 2;
    padding: 8px;
  }
  .m-col-3 {
    grid-column: span 3;
    padding: 8px;
  }
  .m-col-4 {
    grid-column: span 4;
    padding: 8px;
  }
  .m-col-5 {
    grid-column: span 5;
    padding: 8px;
  }
  .m-col-6 {
    grid-column: span 6;
    padding: 8px;
  }
  .m-col-7 {
    grid-column: span 7;
    padding: 8px;
  }
  .m-col-8 {
    grid-column: span 8;
    padding: 8px;
  }
  .m-col-9 {
    grid-column: span 9;
    padding: 8px;
  }
  .m-col-10 {
    grid-column: span 10;
    padding: 8px;
  }
  .m-col-11 {
    grid-column: span 11;
    padding: 8px;
  }
  .m-col-12 {
    grid-column: span 12;
    padding: 8px;
  }
}
@media (min-width: 992px) {
  .l-col-1 {
    grid-column: span 1;
    padding: 8px;
  }
  .l-col-2 {
    grid-column: span 2;
    padding: 8px;
  }
  .l-col-3 {
    grid-column: span 3;
    padding: 8px;
  }
  .l-col-4 {
    grid-column: span 4;
    padding: 8px;
  }
  .l-col-5 {
    grid-column: span 5;
    padding: 8px;
  }
  .l-col-6 {
    grid-column: span 6;
    padding: 8px;
  }
  .l-col-7 {
    grid-column: span 7;
    padding: 8px;
  }
  .l-col-8 {
    grid-column: span 8;
    padding: 8px;
  }
  .l-col-9 {
    grid-column: span 9;
    padding: 8px;
  }
  .l-col-10 {
    grid-column: span 10;
    padding: 8px;
  }
  .l-col-11 {
    grid-column: span 11;
    padding: 8px;
  }
  .l-col-12 {
    grid-column: span 12;
    padding: 8px;
  }
}
@media (min-width: 1200px) {
  .xl-col-1 {
    grid-column: span 1;
    padding: 8px;
  }
  .xl-col-2 {
    grid-column: span 2;
    padding: 8px;
  }
  .xl-col-3 {
    grid-column: span 3;
    padding: 8px;
  }
  .xl-col-4 {
    grid-column: span 4;
    padding: 8px;
  }
  .xl-col-5 {
    grid-column: span 5;
    padding: 8px;
  }
  .xl-col-6 {
    grid-column: span 6;
    padding: 8px;
  }
  .xl-col-7 {
    grid-column: span 7;
    padding: 8px;
  }
  .xl-col-8 {
    grid-column: span 8;
    padding: 8px;
  }
  .xl-col-9 {
    grid-column: span 9;
    padding: 8px;
  }
  .xl-col-10 {
    grid-column: span 10;
    padding: 8px;
  }
  .xl-col-11 {
    grid-column: span 11;
    padding: 8px;
  }
  .xl-col-12 {
    grid-column: span 12;
    padding: 8px;
  }
}
@media (min-width: 1400px) {
  .xxl-col-1 {
    grid-column: span 1;
    padding: 8px;
  }
  .xxl-col-2 {
    grid-column: span 2;
    padding: 8px;
  }
  .xxl-col-3 {
    grid-column: span 3;
    padding: 8px;
  }
  .xxl-col-4 {
    grid-column: span 4;
    padding: 8px;
  }
  .xxl-col-5 {
    grid-column: span 5;
    padding: 8px;
  }
  .xxl-col-6 {
    grid-column: span 6;
    padding: 8px;
  }
  .xxl-col-7 {
    grid-column: span 7;
    padding: 8px;
  }
  .xxl-col-8 {
    grid-column: span 8;
    padding: 8px;
  }
  .xxl-col-9 {
    grid-column: span 9;
    padding: 8px;
  }
  .xxl-col-10 {
    grid-column: span 10;
    padding: 8px;
  }
  .xxl-col-11 {
    grid-column: span 11;
    padding: 8px;
  }
  .xxl-col-12 {
    grid-column: span 12;
    padding: 8px;
  }
}
.container {
  margin: 2rem auto;
  max-width: 99%;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
.btn-red {
  text-align: center;
  padding: 3px 5px;
  margin: 2px;
  color: white;
  background-color: rgb(100, 9, 9);
  transition: background-color 0.3s;
  border: none;
}
.btn-red:enabled:hover {
  background-color: #c21111;
  cursor: pointer;
}
.btn-red:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.btn-green {
  text-align: center;
  padding: 3px 5px;
  margin: 2px;
  color: white;
  background-color: green;
  transition: background-color 0.3s;
  border: none;
}
.btn-green:enabled:hover {
  background-color: #00e600;
  cursor: pointer;
}
.btn-green:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.btn-accent {
  text-align: center;
  padding: 3px 5px;
  margin: 2px;
  color: white;
  background-color: rgb(5, 5, 128);
  transition: background-color 0.3s;
  border: none;
}
.btn-accent:enabled:hover {
  background-color: #0909e2;
  cursor: pointer;
}
.btn-accent:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.btn-gray {
  text-align: center;
  padding: 3px 5px;
  margin: 2px;
  color: white;
  background-color: rgb(117, 117, 117);
  transition: background-color 0.3s;
  border: none;
}
.btn-gray:enabled:hover {
  background-color: #a8a8a8;
  cursor: pointer;
}
.btn-gray:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.tabButton {
  width: 50%;
}

.activeTabButton {
  font-weight: bold;
}

.comboboxDropdown {
  padding: 2px;
  max-height: 300px;
  overflow-y: scroll;
  opacity: 0.9;
  border: 1px solid rgb(237, 237, 237);
  background-color: rgb(48, 52, 71);
}

.form {
  padding: 20px;
  max-width: 400px;
  background-color: rgb(33, 36, 49);
}

input, textarea, datalist {
  padding: 2px;
  margin: 1px -1px 3px -1px;
  background-color: rgb(88, 95, 129);
  border: 1px solid rgb(237, 237, 237);
  color: rgb(237, 237, 237);
}

::placeholder {
  color: rgb(175, 175, 175);
}

select {
  margin: 1px 0px;
}

.input-nullable {
  background-color: rgb(33, 36, 49);
}

.input-required {
  background-color: rgb(88, 95, 129);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: relative;
  background-color: rgb(48, 52, 71);
  padding: 20px;
}

.table-header {
  border-bottom: 1px solid rgb(237, 237, 237);
  background-color: rgb(88, 95, 129);
}

.table-row:nth-child(even) {
  background-color: rgb(33, 36, 49);
}

.table-row:nth-child(odd) {
  background-color: rgb(48, 52, 71);
}

body {
  font-family: Helvetica, sans-serif;
  background-color: rgb(18, 20, 27);
  color: rgb(237, 237, 237);
}

a {
  color: rgb(237, 237, 237);
}

* {
  border-radius: 5px;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /*The image keeps its aspect ratio, but is resized to fit within the given dimension*/
}

.max-height-100p {
  max-height: 100px;
}

.width-350px {
  width: 350px;
}

.border-radius-50 {
  border-radius: 50%;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
}

.align-center {
  align-items: center;
}

.just-between {
  justify-content: space-between;
}

.just-center {
  justify-content: center;
}

.just-end {
  justify-content: end;
}

h1 {
  font-size: 200%;
}

h2 {
  font-size: 180%;
}

h3 {
  font-size: 160%;
}

h4 {
  font-size: 140%;
}

h5 {
  font-size: 120%;
}

h6 {
  font-size: 100%;
}

.error {
  color: rgb(100, 9, 9);
  font-style: italic;
}

.fc1 {
  color: rgb(237, 237, 237);
}

.fc2 {
  color: rgb(175, 175, 175);
}

.ff-code {
  font-family: Consolas, monaco, monospace;
}

.fs-90 {
  font-size: 90%;
}

.fs-150 {
  font-size: 150%;
}

.fs-ita {
  font-style: italic;
}

.fw-bold {
  font-weight: bold;
}

.txt-center {
  text-align: center;
}

.m-y-1 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.m-y-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.m-y-3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.m-xy-1 {
  margin: 0.5rem;
}

.padding-20p {
  padding: 20px;
}

/*# sourceMappingURL=main.css.map */
