*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

.grid-row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 8px;
  padding: 8px;
}

.xs-col-1 {
  grid-column: span 1;
}

.xs-col-2 {
  grid-column: span 2;
}

.xs-col-3 {
  grid-column: span 3;
}

.xs-col-4 {
  grid-column: span 4;
}

.xs-col-5 {
  grid-column: span 5;
}

.xs-col-6 {
  grid-column: span 6;
}

.xs-col-7 {
  grid-column: span 7;
}

.xs-col-8 {
  grid-column: span 8;
}

.xs-col-9 {
  grid-column: span 9;
}

.xs-col-10 {
  grid-column: span 10;
}

.xs-col-11 {
  grid-column: span 11;
}

.xs-col-12 {
  grid-column: span 12;
}

@media (min-width: 576px) {
  .s-col-1 {
    grid-column: span 1;
  }
  .s-col-2 {
    grid-column: span 2;
  }
  .s-col-3 {
    grid-column: span 3;
  }
  .s-col-4 {
    grid-column: span 4;
  }
  .s-col-5 {
    grid-column: span 5;
  }
  .s-col-6 {
    grid-column: span 6;
  }
  .s-col-7 {
    grid-column: span 7;
  }
  .s-col-8 {
    grid-column: span 8;
  }
  .s-col-9 {
    grid-column: span 9;
  }
  .s-col-10 {
    grid-column: span 10;
  }
  .s-col-11 {
    grid-column: span 11;
  }
  .s-col-12 {
    grid-column: span 12;
  }
}
@media (min-width: 768px) {
  .m-col-1 {
    grid-column: span 1;
  }
  .m-col-2 {
    grid-column: span 2;
  }
  .m-col-3 {
    grid-column: span 3;
  }
  .m-col-4 {
    grid-column: span 4;
  }
  .m-col-5 {
    grid-column: span 5;
  }
  .m-col-6 {
    grid-column: span 6;
  }
  .m-col-7 {
    grid-column: span 7;
  }
  .m-col-8 {
    grid-column: span 8;
  }
  .m-col-9 {
    grid-column: span 9;
  }
  .m-col-10 {
    grid-column: span 10;
  }
  .m-col-11 {
    grid-column: span 11;
  }
  .m-col-12 {
    grid-column: span 12;
  }
}
@media (min-width: 992px) {
  .l-col-1 {
    grid-column: span 1;
  }
  .l-col-2 {
    grid-column: span 2;
  }
  .l-col-3 {
    grid-column: span 3;
  }
  .l-col-4 {
    grid-column: span 4;
  }
  .l-col-5 {
    grid-column: span 5;
  }
  .l-col-6 {
    grid-column: span 6;
  }
  .l-col-7 {
    grid-column: span 7;
  }
  .l-col-8 {
    grid-column: span 8;
  }
  .l-col-9 {
    grid-column: span 9;
  }
  .l-col-10 {
    grid-column: span 10;
  }
  .l-col-11 {
    grid-column: span 11;
  }
  .l-col-12 {
    grid-column: span 12;
  }
}
@media (min-width: 1200px) {
  .xl-col-1 {
    grid-column: span 1;
  }
  .xl-col-2 {
    grid-column: span 2;
  }
  .xl-col-3 {
    grid-column: span 3;
  }
  .xl-col-4 {
    grid-column: span 4;
  }
  .xl-col-5 {
    grid-column: span 5;
  }
  .xl-col-6 {
    grid-column: span 6;
  }
  .xl-col-7 {
    grid-column: span 7;
  }
  .xl-col-8 {
    grid-column: span 8;
  }
  .xl-col-9 {
    grid-column: span 9;
  }
  .xl-col-10 {
    grid-column: span 10;
  }
  .xl-col-11 {
    grid-column: span 11;
  }
  .xl-col-12 {
    grid-column: span 12;
  }
}
@media (min-width: 1400px) {
  .xxl-col-1 {
    grid-column: span 1;
  }
  .xxl-col-2 {
    grid-column: span 2;
  }
  .xxl-col-3 {
    grid-column: span 3;
  }
  .xxl-col-4 {
    grid-column: span 4;
  }
  .xxl-col-5 {
    grid-column: span 5;
  }
  .xxl-col-6 {
    grid-column: span 6;
  }
  .xxl-col-7 {
    grid-column: span 7;
  }
  .xxl-col-8 {
    grid-column: span 8;
  }
  .xxl-col-9 {
    grid-column: span 9;
  }
  .xxl-col-10 {
    grid-column: span 10;
  }
  .xxl-col-11 {
    grid-column: span 11;
  }
  .xxl-col-12 {
    grid-column: span 12;
  }
}
.container {
  margin: 0 auto;
  max-width: 99%;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
.btn-red {
  text-align: center;
  padding: 3px 5px;
  margin: 2px;
  color: white;
  background-color: rgb(100, 9, 9);
  transition: background-color 0.3s;
  border: none;
}
.btn-red:enabled:hover {
  background-color: #c21111;
  cursor: pointer;
}
.btn-red:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.btn-green {
  text-align: center;
  padding: 3px 5px;
  margin: 2px;
  color: white;
  background-color: rgb(0, 128, 0);
  transition: background-color 0.3s;
  border: none;
}
.btn-green:enabled:hover {
  background-color: #00e600;
  cursor: pointer;
}
.btn-green:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.btn-accent {
  text-align: center;
  padding: 3px 5px;
  margin: 2px;
  color: white;
  background-color: rgb(5, 5, 128);
  transition: background-color 0.3s;
  border: none;
}
.btn-accent:enabled:hover {
  background-color: #0909e2;
  cursor: pointer;
}
.btn-accent:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.btn-gray {
  text-align: center;
  padding: 3px 5px;
  margin: 2px;
  color: white;
  background-color: rgb(117, 117, 117);
  transition: background-color 0.3s;
  border: none;
}
.btn-gray:enabled:hover {
  background-color: #a8a8a8;
  cursor: pointer;
}
.btn-gray:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.tabButton {
  font-size: 150%;
  width: 50%;
  height: 100px;
  border-radius: 5px 5px 0 0;
  border: none;
  color: rgb(199, 199, 199);
  background-color: rgb(74, 80, 109);
}

.activeTabButton {
  font-weight: bold;
  color: rgb(237, 237, 237);
  background-color: rgb(123, 128, 151);
}

.comboboxDropdown {
  padding: 2px;
  max-height: 300px;
  overflow-y: scroll;
  opacity: 0.9;
  border: 1px solid rgb(237, 237, 237);
}

input, textarea, datalist {
  padding: 2px;
  margin: 1px -1px 3px -1px;
  background-color: rgb(74, 80, 109);
  border: 1px solid rgb(237, 237, 237);
  color: rgb(237, 237, 237);
}

::placeholder {
  color: rgb(199, 199, 199);
}

select {
  margin: 1px 0px;
}

.nullable {
  background-color: rgb(74, 80, 109);
}

.required {
  background-color: rgb(48, 52, 71);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: relative;
  background-color: rgb(48, 52, 71);
  padding: 20px;
}

.table-header {
  border-bottom: 1px solid rgb(237, 237, 237);
  background-color: rgb(74, 80, 109);
}

.table-row:nth-child(even) {
  background-color: rgb(33, 36, 49);
}

.table-row:nth-child(odd) {
  background-color: rgb(48, 52, 71);
}

h1 {
  font-size: 200%;
}

h2 {
  font-size: 180%;
}

h3 {
  font-size: 160%;
}

h4 {
  font-size: 140%;
}

h5 {
  font-size: 120%;
}

h6 {
  font-size: 100%;
}

.error {
  color: rgb(255, 0, 0);
  font-style: italic;
}

.fc1 {
  color: rgb(237, 237, 237);
}

.fc2 {
  color: rgb(199, 199, 199);
}

.fc3 {
  color: rgb(48, 52, 71);
}

.ff-code {
  font-family: Consolas, monaco, monospace;
}

.fs-90 {
  font-size: 90%;
}

.fs-150 {
  font-size: 150%;
}

.fs-300 {
  font-size: 300%;
}

.fs-ita {
  font-style: italic;
}

.fw-bold {
  font-weight: bold;
}

.txt-center {
  text-align: center;
}

body {
  font-family: Helvetica, sans-serif;
  background-color: rgb(18, 20, 27);
  color: rgb(237, 237, 237);
}

a {
  color: rgb(237, 237, 237);
}

* {
  border-radius: 5px;
}

img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /*The image keeps its aspect ratio, but is resized to fit within the given dimension*/
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.border-radius-50 {
  border-radius: 50%;
}

.border-radius-bottom {
  border-radius: 0 0 5px 5px;
}

.height-100vh {
  height: 100vh;
}

.max-height-100p {
  max-height: 100px;
}

.max-width-400p {
  max-width: 400px;
}

.min-width-500p {
  min-width: 500px;
}

.width-100pc {
  width: 100%;
}

.width-350px {
  width: 350px;
}

.background-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.bg2 {
  background-color: rgb(33, 36, 49);
}

.bg4 {
  background-color: rgb(74, 80, 109);
}

.bg5 {
  background-color: rgb(123, 128, 151);
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
}

.align-center {
  align-items: center;
}

.just-between {
  justify-content: space-between;
}

.just-center {
  justify-content: center;
}

.just-end {
  justify-content: end;
}

.just-end-m {
  justify-content: start;
}

@media (min-width: 768px) {
  .just-end-m {
    justify-content: end;
  }
}
.m-y-1 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.m-y-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.m-y-3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.m-xy-1 {
  margin: 0.5rem;
}

.padding-20px {
  padding: 20px;
}

/*# sourceMappingURL=main.css.map */
